---
import Main from "../components/Main";
import Login from "../components/Login";
import { getUser } from "@astro-auth/core";
import { signOut } from "@astro-auth/client";

const user = getUser({client: Astro})

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		{!user && <Login client:load />}
		{user && <Main user={user} client:load />}
		<span>
			{user && user.username}
		</span>
		<!-- <Main user={user} client:load /> -->
	</body>
</html>
